@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat";
}

.fc-button {
    color: black !important;
    background: transparent !important;
    border: none !important;
}

.fc-today-button,
.fc-daygrid-day-events {
    display: none !important;
}
.fc .fc-daygrid-day-top {
    justify-content: center;
    cursor: pointer;
}

.fc-day-today {
    background: transparent !important;
}

.clickable-row {
    cursor: pointer;
    position: relative;
}

/* .clickable-row:hover::after {
    left: 0;
    position: absolute;
    display: inline-block;
    content: "";
    background: #42aef1;
    width: 10px;
    height: 100%;
    border-radius: 0 10px 10px 0;
} */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #25364f;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #25364fc9;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #d3d7dc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-3 .knobs:before {
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 28px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #25364f;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    left: 40px;
    background-color: #25364f;
}

#button-3 .checkbox:checked ~ .layer {
    background-color: #d3d7dc;
}
